{{ define "main" }}

{{ partial "page-title.html" . }}
{{ "<!-- Blog Section Start -->" | safeHTML }}
<section class="blog section" id="blog">
    <div class="container">
        <div class="row">
            {{ range (.Paginator 9).Pages.ByDate.Reverse }}      
            {{ "<!-- single blog post -->" | safeHTML }}            
            <article class="col-12 col-md-4">
                <div class="post-item">                   
                    <div class="post-title">
                        <h3 class="mt-0">
                            <a href="{{ .Permalink }}"  class="link-style-1">{{ .Title }}</a>
                        </h3>
                    </div>
                    <div class="post-meta">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <span>{{ .Date.Format .Site.Params.dateFormat }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="post-content">
                        <p>{{ .Summary }}</p>
                    </div>
                    <!-- share buttons -->
                    {{ $title := .Title }}
                    {{ $url := printf "%s" .Permalink | absLangURL }}
                    {{ $body := print "\n\n" $url "\n" }}
                    <div id="sharing">
                        <a href="http://www.facebook.com/sharer.php?u={{ $url }}" target="_blank" class="facebook" aria-label="share on Facebook">
                        <img src="/images/facebook_counter.png" width="60px" >
                        </a>
                        <a href="http://twitter.com/share?url={{ $url }}&text={{ $title }}&via={{with .Site.Social.twitter }}{{ . }}{{ end }}" target="_blank" class="twitter" aria-label="share on Twitter">
                            <img src="/images/twitter_counter.png" width="60px" >
                        </a>
                        <a href="mailto:?subject=Check%20out%20{{ $title }}.&body={{ $body }}" target="_blank" class="twitter" aria-label="share on Email">
                            <img src="/images/email_counter.png" width="60px" >
                        </a>
                    </div>
                </div>
            </article>
            {{ "<!-- /single blog post -->" | safeHTML }}
            {{ end }}
            <div class="col-12 text-center">
                {{ template "_internal/pagination.html" . }}
            </div>
        </div>
    </div>
</section>
{{ "<!-- Blog Section End -->" | safeHTML }}
{{ end }}

