{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.conference }}
{{ if .enable }} 
<div class="container">
  <div class="title-page"><h2>{{ .title }}</h2></div>
    {{ range $index, $element := .item }}
    <div class="responsive">
      <div class="gallery">
          <img class="image-size-1" src="{{ $element.image }}" style="width:100%" onclick="openModal();currentSlide({{ $index }})"
           class="hover-shadow cursor">
      </div>
    </div>
    {{ end }}  
     <div class="clearfix"></div> 

  <div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
      {{ range $index, $element := .item }}
      <div class="mySlides">
        <img src="{{ $element.image }}" style="width:100%">
      </div>
      {{ end }}    
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
     <div class="row gal-thumbs">
       {{ range $index, $element := .item }}
      <div class="col-1">
        <img class="demo cursor image-size-2" src="{{ $element.image }}" onclick="currentSlide({{ $index }})" alt="image">
      </div>
      {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }} 
{{ end }}   
   

