{{ if .Site.Params.contact.enable }}
{{ "<!-- Start Contact Us -->" | safeHTML }}
<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
           <h3>Invite me to speak at your event</h3>
        </div>
        <div class="row">                       
            {{ "<!-- Contact Form -->" | safeHTML }}
            <div class="contact-form col-12 col-md-6 ">
                <form id="contact-form"  method="post" action="https://formspree.io/divya.ts@citrusinformatics.com" role="form">
                    <div class="form-group">
                        <input type="text" placeholder="Full Name" class="form-control" name="name" id="name" required > 
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Email" class="form-control" name="email" id="email" required>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Event Name" class="form-control" name="eventname" id="eventname" required>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Event Location" class="form-control" name="eventlocation" id="eventlocation" required>
                    </div>
                    <div class="form-group">
                        <textarea rows="6" placeholder="Event Details" class="form-control" name="eventdetails" id="eventdetails" required ></textarea>
                    </div>
                    <div id="cf-submit">
                        <input type="submit" id="contact-submit" class="btn btn-main" value="Send">
                    </div>
                </form>
            </div>
        </div>      
    </div>
</section>
{{ end }}