{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.endorsement }}
{{ if .enable }}
{{ "<!-- endorsements Section Start -->" | safeHTML }}
<section class="service-2 section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    <h2>{{ .title }}</h2>
                </div>
            </div>
        </div>
        {{ range .item }}
        {{ "<!-- endorsement -->" | safeHTML }}
        <div class="row justify-content-center">              
            <div class="col-md-8">
                <img class="img-fluid" width="850px;" src="{{.image | absURL }}" >                           
            </div> 
        </div>
        {{ "<!-- end endorsement -->" | safeHTML }}
        {{ end }}
    </div>
    <div class="more-view"><a href="http://www.linkedin.com/profile/view?id=229351" target="_blank">More..</a></div>
</section>    
{{ "<!-- endorsements section end -->" | safeHTML }}
{{ end }}
{{ end }}
