{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.mediacoverage }}
{{ if .enable }}
<div class="container">
    <div class="row">
    {{ range .item }} 	
    {{ "<!-- media single -->" | safeHTML }}  							
    <div class="col-md-4">
        <div class="media_coverage_wrapper">
            <div class="media_coverage_icon_container"><p class="media_coverage_icon_p"><img src="{{ .Logolink }}" width="16px" height="16px"><span class="media_coverage_icon_span">{{ .Title }}</span></p></div>
            <div class="media_coverage_txt_container">
                <p class="media_coverage_heading_p"><a href="{{ .Link }}" target="_blank" data-wpel-link="external" rel="external noopener noreferrer">{{ .Name }}</a></p>
                <p class="media_coverage_date_p">{{ .Date }}</p>
            </div>
            </div>
        </div>
        {{ end }}                              
    </div>
</div>
{{ end }}
{{ end }}


 