<section class="pricing-table section" id="pricing">
    <div class="container">          
        <div class="row">
            <div class="col">
                <div class="title text-center">                      
                    <h2> Tweets</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6 col-xs-12 twit">
                <div class="twitter">
                    <a class="twitter-timeline" data-height="400" href="https://twitter.com/ShahidNShah">Tweets by </a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 twit">
                <div class="twitter">
                    <a class="twitter-timeline" data-height="400" href="https://twitter.com/netspective">Tweets by </a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 twit">
                <div class="twitter">
                    <a class="twitter-timeline" data-height="400" href="https://twitter.com/GovCTO">Tweets by </a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </div>
</section>
